@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: linear-gradient(to right bottom,#ECDBBA,#1d3356 )

}

.resume{
    width: 800px;
    background: #fff;
    margin : 25px auto;
    display : flex;
}

.left{
    background: #191919;
    width: 250px;
    padding: 0 10px;

}

.right{
    width: calc(100% - 250px);

}

.left .imgHolder{
    text-align: center;
    padding: 20px 0;

}

.left .imgHolder img{
    width: 200px;
    background: #414141;
    border-radius: 100px;

}

.pb{
    padding-bottom: 20px;
}

.title{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;  
    letter-spacing: 3px;
    padding-bottom: 10px;
    color: #ECDBBA;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
    word-break: keep-all;
}

.title:before{
    content: "";
    position: absolute;
    top: 60px;
    right: 0;
    width: 100px;
    height: 3px;
    background: #ECDBBA;
}

.left .icon{
    font-size: 20px;
    color: #2D4263;

}


.left .text{
    text-transform: uppercase;
    color: #2D4263;
    font-size: 13px;
}

.contact .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.contact .li_wrap .text{
    width: 75%;
    word-break: keep-all ;
    color: #fff;
}

.contact .li_wrap .icon{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


.skill_wrap .title:before{
    top: 35px;
}



.certification .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.certification .li_wrap .text{
    width: 100%;
    word-break: keep-all ;
    color: #fff;
    text-transform: none;
}

.hobbies_wrap .title:before{
    top: 35px;
}

.skill ul,
.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill .li_wrap,
.hobbies .li_wrap{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill .li_wrap{
    background: #fff;
}

.skill .li_wrap .text,
.hobbies .li_wrap .text{
    margin-top: 5px;
}

.hobbies .li_wrap{
    border: 2px solid #fff;

}
.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
    color: #fff;
}

.hobbies .li_wrap:hover{
    background: #fff;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
    color: #2D4263
}

.header{
    background: #191919;
    padding: 15px 30px;
    color: #fff;
}




