@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: linear-gradient(to right, #3525af, #9153c9);

}

.resume{
    width: 800px;
    background: #ffff;
    margin : 25px auto;
    display : flex;
}